/* CHAT STYLES */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;;
    line-height: 1.4;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* Login/Signup Forms */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: url('https://github.com/ZhongchiLeoLi/Chaters/blob/master/public/gradient.png?raw=true');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 500px;
  padding: 50px;
  border-radius: 25px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title {
  text-align: center;
  color: black;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 500;
  font-size: 2.3em;;
}

.button {
  border-radius: 4px;
  border: none;
  background-color: #00A389;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: #006655;
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 25px;
}
.form input {
  margin-top: 8px;
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid white;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  border-radius: 20px;
}
.form button {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #00A389;
}
.form button:hover {
  box-shadow: 0px 0px 3px black;
}
.form button:disabled {
  color: #80DDCE;
  cursor: not-allowed;
  background-color: #62BA97;
}
.auth-link-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.auth-link {
  color: #007bb4;
  cursor: pointer;
  font-weight: bold;
}
.auth-link:hover {
  color: #5c5caa;
}


  /* Chat List */
  .chat-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .chat-profile-container{
    display: flex;
    margin: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
    align-items: center;
    border-bottom: 2px solid #EDF0F5;
  }

  .chat-profile-avatar {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .upload-avatar:hover {
    opacity: 85%;
    cursor: pointer;
    transition: 0.3s;
  }

  .camera-icon-wrapper {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    background-color: #E6EFEE;
    margin-top: -1rem;
    margin-left: -1rem;
  }

  .camera-icon {
    width: 12px;
    height: 12px;
  }

  .profile-title {
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: 600;
  }

  .chat-card {
    padding: 17px;
    margin: 0.25rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.2s;
  }

  .chat-card:hover {
    cursor: pointer;
    background-color: #F1F9F7;
  }

  .chat-card-avatar {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }

  .empty-avatar {
    background-color: #ABD9C6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 500;
    color: #006655;
  }

  .chat-card-title {
    font-size: 1.05rem;
    font-weight: 600;
  }
  
  .new-chat-form {
    overflow: hidden;
    border-radius: 20px;
    margin: 1.1rem;
    background-color: white;
    box-shadow: 0 4px 15px 0 #D0D3E3;
    display: flex;
  }
  
  .new-chat-input {
    height: 54px;
    width: calc(100% - 57px);
    background-color: white;
    border: 1px solid white;
    padding: 15px 18px;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  .new-chat-button {
    height: 42px;
    background-color: #00A389;
    color: white;
    border: 1px solid white;
    padding: 0px 12px;
    padding-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    align-self: flex-end;
    font-size: 1.5rem;
    line-height: 1;
    transition: 0.3s;
  }

  .new-chat-button:hover {
    cursor: pointer;
    opacity: 85%;
  }

/* Chat Feed   */
  .chat-feed {
    height: 100%;
    width: 100%;
    background-color: #EDF0F5;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages {
    height: 100%;
    overflow-y: scroll;
    bottom: 0px;
  }

  .chat-title-container {
    width: 100%;
    padding: 0.8rem 1.1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 #D0D3E3;
    clip-path: inset(0 0 -20px 0);
  }
  
  .chat-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem 0px;
  }
  
  .chat-subtitle {
    color: #535B65;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 30px;
  }
  
  .message-row {
    float: left;
    width: calc(100% - 18px);
    display: flex;
    margin-left: 18px;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  
  .message-block {
    width: 100%;
    display: inline-block;
  }
  
  .chat-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    font-size: 1.1rem;
  }
  
  .message {
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 20px;
    max-width: 70%;
    box-shadow: 0 2px 15px 0 #dfe2f3;
  }
  
  .incoming-chat-image {
    margin-left: 50px;
    object-fit: cover;
    border-radius: 10px;
    height: 30vw;
    max-height: 200px !important;
    max-width: 200px !important;
    min-height: 100px !important;
    min-width: 100px !important;
  }

  .last {
    margin-left: 12px !important;
  }

  .outgoing-chat-image {
    float: right;
    margin-right: 18px;
    object-fit: cover;
    border-radius: 10px;
    height: 30vw;
    max-height: 200px !important;
    max-width: 200px !important;
    min-height: 100px !important;
    min-width: 100px !important;
  }
  
  .read-receipts {
    position: relative;
    bottom: 6px;
  }
  
  .read-receipt {
    width: 14px;
    height: 14px;
    border-radius: 13px;
    margin: 1.5px;
    font-size: 0.5rem;
    font-weight: 700;
  }
  
  .chat-form-container {
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: #EDF0F5;
  }
  
  .chat-form {
    overflow: hidden;
    border-radius: 20px;
    margin: 1.1rem;
    background-color: white;
    box-shadow: 0 4px 15px 0 #D0D3E3;
    display: flex;
  }
  
  .message-input {
    height: 40px;
    width: calc(100% - 115px);
    background-color: white;
    border: 1px solid white;
    padding: 15px 18px;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  .upload-button {
    height: 25px;
    margin-bottom: 12px;
    align-self: flex-end;
  }

  .image-button {
    cursor: pointer;
    padding: 0px 16px;
    height: 100%;
  }
  
  .send-button {
    height: 42px;
    background-color: #00A389;
    color: white;
    border: 1px solid white;
    padding: 0px 15px;
    padding-top: 4px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 20px;
    align-self: flex-end;
  }

  .send-button:hover {
    opacity: 85%;
    transition: 0.2s;
  }


/* ChatSetting */
.chat-setting-profile {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1rem 1rem;
  align-items: center;
}

.chat-setting-avatar {
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  font-size: 2rem;
}

.chat-title-form {
  overflow: hidden;
  border-radius: 20px;
  margin: 1.1rem;
  background-color: white;
  box-shadow: 0 4px 15px 0 #D0D3E3;
  display: flex;
  align-items: center;
}

.chat-title-input {
  height: 40px;
  width: calc(100% - 40px);
  background-color: white;
  border: 1px solid white;
  padding: 15px 18px;
  outline: none;
  font-size: 1rem;
  resize: none;
  text-align: center;
}

.chat-title-button {
  border: none;
  background-color: unset;
}

.chat-title-button:hover, .remove-member-button:hover, .image-button:hover, .logout-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.2s;
}

.accordian-item-button {
  border-top: 2px solid #EDF0F5;
  display: flex;
  justify-content: space-between;
  /* margin: 1rem 0px; */
  padding: 1rem 10px;
  font-weight: 600;
  border-radius: 10px;
}

.accordian-item-button:hover {
  background-color: #E6EFEE;
  cursor: pointer;
  transition: 0.2s;
}

.select-search {
  margin-bottom: 1rem;
}

.select-search__value {
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 15px 0 #D0D3E3;
  display: flex;
  align-items: center;
}

.select-search__input {
  height: 40px;
  width: 100%;
  background-color: white;
  border: 1px solid white;
  padding: 15px 18px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

.select-search__select {
  margin-top: 5px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 4px 15px 0 #D0D3E3;
  padding: 10px;
  border-radius: 20px;
}

.add-member-options:hover, .option-button:hover {
  cursor: pointer;
  background-color: #E6EFEE;
  transition: 0.2s;
}

.shared-media-container>div {
  display: inline;
}

.shared-media {
  width: 33%;
  height: 7vw;
  object-fit: cover;
  padding: 0.1rem;
  border-radius: 15px;
}
